*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("/Resources/young-woman-wearing-coat-hat-scarf-riding-bicycle-park-fall-foliage-from-wind-is-blowing-autumn-season-cartoon-character-vector-illustration/JuOct40.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 10px;
    width: 90%;
    height: 500px;
    background-color: rgba(255,255,255,0.25);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
